[submodule "server"]
	path = server
	url = http://members.hellug.gr/xrg/repos/openobject-server
[submodule "client"]
	path = client
	url = http://members.hellug.gr/xrg/repos/openobject-client
[submodule "client-kde"]
	path = client-kde
	url = http://members.hellug.gr/xrg/repos/openobject-client-kde
[submodule "addons"]
	path = addons
	url = http://members.hellug.gr/xrg/repos/openobject-addons
[submodule "bi"]
	path = bi
	url = http://members.hellug.gr/xrg/repos/openobject-bi
[submodule "client-web"]
	path = client-web
	url = http://members.hellug.gr/xrg/repos/openobject-client-web
[submodule "doc"]
	path = doc
	url = http://members.hellug.gr/xrg/repos/openobject-doc
[submodule "extra-addons"]
	path = extra-addons
	url = http://members.hellug.gr/xrg/repos/openobject-addons
[submodule "buildbot"]
	path = buildbot
	url = http://members.hellug.gr/xrg/repos/openerp-buildbot
[submodule "libcli"]
	path = libcli
	url = http://members.hellug.gr/xrg/repos/openerp-libcli/
[submodule "addons-koo"]
	path = addons-koo
	url = http://members.hellug.gr/xrg/repos/openobject-addons-koo
[submodule "apidoc"]
	path = apidoc
	url = http://members.hellug.gr/xrg/repos/openobject-apidoc
